# Dependencies
node_modules/

# Build output
dist/
tsconfig.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
dump
